.app {
     margin:5px;
}
.combobox {
    margin: 5px;
}
.user-header {
    font-family: Arial, Helvetica, sans-serif;
}
.mainHeader {
    margin: 10px;
}
.gridTitle {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    margin:5px;
}
.parent {
    font-weight:bold;
    line-height:120%;
}
.child {
    margin-left:20px;
    line-height:120%;
}
.components {
    margin: 20px;
}
/*.rowClass div {
    font-weight: bold;
    background-color: #33CC66;
}*/